<html>
<head>
  <style type="text/css">
    .space{
      margin-top: 10px;
    }

    .line{
      border-color: blue;
      border-width: 5px;
    }
  </style>

  </head>
 <body> 
<h2 >Change <%= resource_name.to_s.humanize %> Password</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<hr class="line">

<!--   <div class="field">
    <%#= f.label :email %><br />
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

    <br>
 <div class='field'> 
   <%#= f.label :status %>
   <%#= f.select :status, options_for_select(User.statuses.keys.map { |status| [status.humanize, status] }), prompt: 'Select status' %>

  </div>
   <br> -->

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

   <div class="field space" style="margin-top: 50px;">
   <b> <%= f.label :old_password %> <br /></b>
    <%= f.password_field :current_password, autocomplete: "current-password",class: "form-control"  %>
  </div>

  <div class="field space">
   <b> <%= f.label :new_password %> <br /></b>
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
   
  </div>

  <div class="field space">
   <b> <%= f.label :password_confirmation  %><br /></b>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

 

  <div class="actions space">
    <%= f.submit "Save Password" %>
  </div>
<% end %>

<!-- <h3>Cancel my account</h3>

<p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
 -->
<%= link_to "<Back", :back %>
</body>
</html>
